
.headerTitle{
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: 'Farsan', cursive;
	color: #444;
	
}
.headersm{
	position: absolute;
	top: 20%;
	font-size: 72px;
	
}
.headerlg{
	position: absolute;
	top: 30%;
	font-size: 100px;
}
.mainImg{
	width: 100%;
	height: 850px;
	object-fit: cover;
	
}